:root{
    --el-green: #01996D;
    --bg-green: #245852;
    --el-green-opacity: #01996D33;
    --bg-white: #FFFFFF;
    --font-darkgrey: #424242;
    --font-black: #000000;
    --font-lightgrey: #484848;
    --divider-color: #D6D6D6;
    --nav-grey: #292929;
}